menu "CONFIG VFS"
    config VFS_LITTLEFS_INCLUDED
        bool "Enable VFS LITTLEFS"
        default n
    config VFS_FATFS_INCLUDED
        bool "Enable VFS FATFS"
    if VFS_FATFS_INCLUDED
        choice
            prompt "FATFS Memory Type"
            config FATFS_DISK_FLASH
                bool "FLASH"
            config FATFS_DISK_SD   #amebasmart  green2 smartplus
                bool "SD"
                depends on SUPPORT_NAND_FLASH
        endchoice
        config FATFS_WITHIN_APP_IMG
            bool "FATFS within APP Image"
        config FATFS_READ_ONLY
            bool "FATFS Read Only"
    endif
endmenu