config USBD_CDC_ACM_MENU
    bool "CDC ACM"
    select USBD_CDC_ACM if CORE_AS_AP
config USBD_COMPOSITE_MENU
    bool "Composite"
    select USBD_COMPOSITE if CORE_AS_AP

if USBD_COMPOSITE_MENU
    choice
        prompt "Select Composite Class"
        config USBD_COMPOSITE_CDC_ACM_HID_MENU
            bool "CDC ACM + HID"
            select USBD_COMPOSITE_CDC_ACM_HID if CORE_AS_AP
        config USBD_COMPOSITE_CDC_ACM_MSC_MENU
            bool "CDC ACM + MSC"
            depends on SUPPORT_USBD_COMPOSITE_CDC_ACM_MSC
            select USBD_COMPOSITE_CDC_ACM_MSC if CORE_AS_AP
        config USBD_COMPOSITE_CDC_ACM_UAC_MENU
            bool "CDC ACM + UAC"
            depends on SUPPORT_USBD_UAC
            select USBD_COMPOSITE_CDC_ACM_UAC if CORE_AS_AP
            select AUDIO_FWK if CORE_AS_AP
            choice
                prompt "Select UAC Version"
                depends on USBD_COMPOSITE_CDC_ACM_UAC_MENU
                config USBD_COMPOSITE_CDC_ACM_UAC1_MENU
                    bool "UAC 1.0"
                    select USBD_COMPOSITE_CDC_ACM_UAC1 if CORE_AS_AP
                config USBD_COMPOSITE_CDC_ACM_UAC2_MENU
                    bool "UAC 2.0"
                    select USBD_COMPOSITE_CDC_ACM_UAC2 if CORE_AS_AP
            endchoice
        config USBD_COMPOSITE_HID_UAC_MENU
            bool "HID + UAC"
            depends on SUPPORT_USBD_UAC
            select USBD_COMPOSITE_HID_UAC if CORE_AS_AP
            select AUDIO_FWK if CORE_AS_AP
            choice
                prompt "Select UAC Version"
                depends on USBD_COMPOSITE_HID_UAC_MENU
                config USBD_COMPOSITE_HID_UAC1_MENU
                    bool "UAC 1.0"
                    select USBD_COMPOSITE_HID_UAC1 if CORE_AS_AP
                config USBD_COMPOSITE_HID_UAC2_MENU
                    bool "UAC 2.0"
                    select USBD_COMPOSITE_HID_UAC2 if CORE_AS_AP
            endchoice
    endchoice
endif

config USBD_HID_MENU
    bool "HID"
    select USBD_HID if CORE_AS_AP

config USBD_INIC_MENU
    bool "INIC"
    depends on SUPPORT_USBD_INIC
    select USBD_INIC if CORE_AS_AP

config USBD_MSC_MENU
    bool "MSC"
    depends on SUPPORT_SDIOH
    select USBD_MSC if CORE_AS_AP

config USBD_UAC_MENU
    bool "UAC"
    depends on SUPPORT_USBD_UAC
    select USBD_UAC if CORE_AS_AP
    select AUDIO_FWK if CORE_AS_AP
    choice
        prompt "Select UAC Version"
        depends on USBD_UAC_MENU
        config USBD_UAC1_MENU
            bool "UAC 1.0"
            select USBD_UAC1 if CORE_AS_AP
        config USBD_UAC2_MENU
            bool "UAC 2.0"
            select USBD_UAC2 if CORE_AS_AP
    endchoice