config AIVOICE_EN_MENU
    bool "Enable AIVoice"
    select AIVOICE_EN if CORE_AS_AP
    select TFLITE_MICRO_EN if CORE_AS_AP

if AIVOICE_EN_MENU
    choice
        prompt "Select AFE Resource"
        default AFE_RES_1MIC_MENU

        config AFE_RES_1MIC_MENU
            bool "afe_res_1mic"
            select AFE_RES_1MIC if CORE_AS_AP

    endchoice

    choice
        prompt "Select KWS Resource"
        default KWS_XIAOQIANGXIAOQIANG_NIHAOXIAOQIANG_V5_125K_MENU

        config KWS_XIAOQIANGXIAOQIANG_NIHAOXIAOQIANG_V5_125K_MENU
            bool "kws_res_xqxq"
            select KWS_XIAOQIANGXIAOQIANG_NIHAOXIAOQIANG_V5_125K if CORE_AS_AP

    endchoice
endif

config AIVOICE_EN
    bool

config AFE_RES_1MIC
    bool

config KWS_XIAOQIANGXIAOQIANG_NIHAOXIAOQIANG_V5_125K
    bool

