*.d
*.o
*.su
*.i
*.ii
*.s

# project build files
/**/image/*
/**/image_mp/*
/**/build/*
!/**/image/.gitignore
!/**/image_mp/.gitignore
!/**/build/.gitignore

# all bin files
*.bin
!/**/gnu_utility/**/*.bin
!/tools/**/*.bin

# img2 axf files
target_img2*.axf

# project library files

# log files
*.log

# git version files
lib_*_git_version.c
__tmp_*_build_info.c

#wifi ext noused c files
/**/wifi_feature_disable/wifi_intf_drv_to_app_ext_noused.c

# menuconfig lxdialog files
/**/lxdialog/lxdialog
/**/menuconfig/*.old
/**/menuconfig/__pycache__

# config files
/**/.config.old
/**/.setconfig
/**/.setconfig.old

# wlan makefile
/**/make/wlan/

# fiptool
/**/fiptool/fiptool
/**/fiptool/fiptool.exe

# git files
.repo/
.git/

# trusted-firmware-m build files
/**/build_tfm/

# build info
/**/inc/build_info.h

# IAR
*.dep
*.ewt
/**/EWARM-RELEASE/Debug/

# IDE extra files
compile_commands.json
.vscode
