#
# All submodules use relative URLs.
#

[submodule "component/audio"]
	path = component/audio
	url = ../../Ameba-AIoT/ameba-audio.git
	branch = master

[submodule "component/ui"]
	path = component/ui
	url = ../../Ameba-AIoT/ameba-ui.git
	branch = master

[submodule "component/aivoice"]
	path = component/aivoice
	url = ../../Ameba-AIoT/ameba-aivoice.git
	branch = main

[submodule "component/tflite_micro"]
	path = component/tflite_micro
	url = ../../Ameba-AIoT/ameba-tflite-micro.git
	branch = main
[submodule "component/application/speechmind"]
	path = component/application/speechmind
	url = ../../Ameba-AIoT/speechmind.git
	branch = master
