if FULLMAC_DEV
    menu "CONFIG WIFI MODE"
        config NAN
            bool "Enable NAN"
            default n
        config WIFI_P2P_ENABLE
            bool "Enable P2P"
            default n
    endmenu
endif

if WHC_INTF_IPC_MENU || WIFI_SINGLE_CORE_MENU
    config WIFI_WPS_ENABLE_MENU
        bool "Enable WPS"
        default n
endif

config WIFI_EAP_ENABLE
    bool "Enable EAP"
    default n

config WIFI_CSI_ENABLE
    bool "Enable CSI"
    default n

config WIFI_ANTDIV_ENABLE
    bool "Enable ANTDIV"
    default n

config WIFI_MCC_ENABLE
    bool "Enable MCC"
    default n

config WIFI_11K_ENABLE
    bool "Enable 11K"
    default n

config WIFI_11V_ENABLE
    bool "Enable 11V"
    default n

config WIFI_11R_ENABLE
    bool "Enable 11R"
    default n

config WIFI_SPEAKER_ENABLE
    bool "Enable WIFI SPEAKER"
    default n

config HIGH_TP_TEST
    bool "Enable HIGH TP"
    default n

config RMESH_EN
    bool "Enable R-mesh"
    default n

if RMESH_EN
    config RNAT_EN
        bool "Enable R-NAT"
        default n

    config RMESH_SOCKET_EN
        bool "Enable R-mesh Socket"
        default n

if RMESH_SOCKET_EN
    config RMESH_OTA_EN
        bool "Enable R-mesh OTA"
        default n
endif

endif

if LINUX_FW_EN
    config NAN
        bool "Enable NAN"
        default n
    config WIFI_P2P_ENABLE
        bool "Enable P2P"
        default n
endif
