mainmenu "AmebaDplus Configuration"

comment "--------MENUCONFIG FOR General---------"

#Release flag, set to y after release
config AMEBA_RLS
  def_bool y

config AMEBADPLUS
    def_bool y

#---------- FEATURE LIST START-----------#
#All features are invisible in menuconfig
config SUPPORT_SDIO_DEVICE
    def_bool y

config SUPPORT_USB
    def_bool y

#---------- FEATURE LIST END-------------#

menu "CONFIG TrustZone"
    rsource "project_km4/Kconfig.tz"
endmenu

menu "CONFIG Link Option"
    choice
        prompt "IMG1(Bootloader) running on FLASH or SRAM?"
        default IMG1_FLASH
        config IMG1_FLASH
            bool "FLASH"
        config IMG1_SRAM
            bool "SRAM"
    endchoice

    choice
        prompt "IMG2(Application) running on FLASH or PSRAM?"
        default IMG2_FLASH
        config IMG2_FLASH
            bool "FLASH"
        config IMG2_PSRAM
            bool "PSRAM"
    endchoice
    if IMG2_FLASH
        config PSRAM_AS_HEAP
            bool "PSRAM AS HEAP"
    endif
    if TRUSTZONE_FOR_KM4
        choice
            prompt "IMG3(SecureImage) running on PSRAM or SRAM?"
            default IMG3_PSRAM
            config IMG3_PSRAM
                bool "PSRAM"
            config IMG3_SRAM
                bool "SRAM"
        endchoice
    endif
endmenu

menu "CONFIG Mass Production"
    config MP_INCLUDED
        bool "Enable MP"
    if MP_INCLUDED
        choice
            prompt "MP Mode"
            default MP_SHRINK
            config MP_EXPAND
                bool "expand"
            config MP_SHRINK
                bool "shrink"
        endchoice
    endif
endmenu

rsource "../component/at_cmd/Kconfig"

rsource "../component/soc/common/rtk_assert/Kconfig"

rsource "../component/file_system/Kconfig"

rsource "../component/os/Kconfig"

menu "CONFIG OTA OPTION"
    config UPGRADE_BOOTLOADER
        bool "Enable Bootloader OTA"
    config COMPRESS_OTA_IMG
        bool "Enable Compress APP Image"
endmenu

rsource "../component/usb/Kconfig"

menu "CONFIG APPLICATION"

    rsource "../component/ui/Kconfig"

    rsource "../component/audio/Kconfig"

    menu "AI Config"
        orsource "../component/tflite_micro/Kconfig"
        rsource "../component/aivoice/Kconfig"
    endmenu

    orsource "${RTK_APP_DIR}/Kconfig"

endmenu


comment "-----Connectivity config-----"
menu "CONFIG WHC INTF"
    choice
        prompt "WHC MODE"
        # FULLMAC_MENU only run NP, WHC_HOST only run AP, other mode run both AP and NP.
        default WHC_INTF_IPC_MENU
            config WHC_INTF_IPC_MENU
                bool "WHC_IPC"
                select CORE_AS_NP_FOR_KM0
                select CORE_AS_AP_FOR_KM4
            config FULLMAC_DEV
                bool "FULLMAC_DEV"
            config WHC_FULLMAC_HOST
                bool "FULLMAC_HOST"
                select WHC_HOST
                select CORE_AS_AP_FOR_KM4
            config WHC_BRIDGE
                bool "BRIDGE_DEV"
                select CORE_AS_AP_FOR_KM4
                select CORE_AS_NP_FOR_KM4
            config WHC_BRIDGE_HOST
                bool "BRIDGE_HOST"
                select WHC_HOST
                select CORE_AS_AP_FOR_KM4
            #config WIFI_SINGLE_CORE_MENU
                #bool "Single Core"
                # select CORE_AS_AP_FOR_KM4
                # select CORE_AS_NP_FOR_KM4
    endchoice

    if !WHC_INTF_IPC_MENU
        choice
           prompt "HW INTERFACE"
           config WHC_INTF_SDIO
                bool "WHC_INTF_SDIO"
            config WHC_INTF_USB
                bool "WHC_INTF_USB"
                select USB_DEVICE_EN
                select USBD_INIC
            config WHC_INTF_SPI
                bool "WHC_INTF_SPI"
        endchoice
    endif

    if FULLMAC_DEV

        #WPA Lite in dev for FULLMAC host without std wpa_supplicant
        choice
            prompt "WPA Lite Location"
            default WPA_LOCATION_HOST
            config WPA_LOCATION_HOST
                bool "HOST"
            config WPA_LOCATION_DEV
                bool "DEV"
        endchoice

        menu "Debug"

        choice
            prompt "WIFI Driver Location"
            default KM4_AS_NP
            config KM0_AS_NP
                bool "KM0"
                select CORE_AS_NP_FOR_KM0

            config KM4_AS_NP
                bool "KM4"
                select CORE_AS_NP_FOR_KM4
        endchoice

        #choose WPA_STD will compile std supplicant in device side.
        choice
            prompt "WPA Supplicant STD"
            config WPA_NONE
                bool "NONE"
            config WPA_STD
                bool "STD"
        endchoice

        endmenu
    endif

    config CORE_AS_AP_FOR_KM4
        bool
    config CORE_AS_NP_FOR_KM0
        bool
    config CORE_AS_AP_FOR_KM0
        bool
    config CORE_AS_NP_FOR_KM4
        bool

endmenu

menu "CONFIG WIFI"
    config WLAN_MENU
        bool "Enable Wifi"
        default y

    if WLAN_MENU

        choice
            depends on !AMEBA_RLS
            prompt "SDK MODE"
            default NORMAL_SDK
            config NORMAL_SDK
                bool "NORMAL_INIC"
            config ZEPHYR_SDK_FOR_KM0
                bool "ZEPHYR_INIC"
        endchoice
        orsource "../component/wifi/Kconfig.wifi"

        config WHC_INTF_IPC_MENU
            bool
            select WHC_INTF_IPC
            select WLAN
            select AS_INIC_NP if CORE_AS_NP
            select AS_INIC_AP if CORE_AS_AP
            select LWIP_LAYER if CORE_AS_AP && !MP_SHRINK
            select FW_DRIVER_COEXIST if CORE_AS_NP
            select ENABLE_WPS if CORE_AS_AP && WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS

        config FULLMAC_DEV
            bool
            depends on CORE_AS_NP # only work in NP
            select WLAN
            select AS_INIC_NP
            select FW_DRIVER_COEXIST
            select WIFI_FW_EN
            select WIFI_HOST_CONTROL

        config WHC_BRIDGEB
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER
            select WIFI_HOST_CONTROL

        config WHC_BRIDGE
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER
            select WIFI_HOST_CONTROL

        config WHC_HOST
            bool
            depends on CORE_AS_AP
            select WLAN
            select AS_INIC_AP
            select LWIP_LAYER

        config WIFI_SINGLE_CORE_MENU # this case will never be selected
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER
            select FW_DRIVER_COEXIST
            select ENABLE_WPS if WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS

        config WIFI_FW_EN_FOR_KM0
            depends on !FULLMAC_DEV
            bool
            default !MP_SHRINK


    endif
    if !WLAN_MENU
        config WLAN_DISABLE
            bool
            select AS_INIC_AP if CORE_AS_AP
            select AS_INIC_NP if CORE_AS_NP
    endif

    config WLAN
        bool
    config WHC_INTF_IPC
        bool
    config AS_INIC_NP
        bool
    config AS_INIC_AP
        bool
    config LWIP_LAYER
        bool
    config FW_DRIVER_COEXIST
        bool
    config WHC_INTF_SDIO
        bool
    config WHC_INTF_SPI
        bool
    config WHC_INTF_USB
        bool
    config WIFI_FW_EN
        bool
    config SINGLE_CORE_WIFI
        bool
    config ENABLE_WPS
        bool
    config ENABLE_WPS_DISCOVERY
        bool
    config FULLMAC_HOST
        bool
    config WHC_BRIDGE
        bool
    config WIFI_HOST_CONTROL
        bool
    config WHC_HOST
        bool

endmenu

menu "CONFIG BT"
    config  BT_MENU
        bool "Enable BT"

    if BT_MENU
        # IC BT capability
        config BT_HAS_MESH
            def_bool y

        choice
            depends on FULLMAC_DEV
            prompt "HCI Mode"
            default BT_INIC_SHARE
            config BT_INIC_SHARE
                bool "Share interface with WiFi"
            config BT_INIC_H4
                bool "UART H4"
            config BT_INIC_H5
                bool "UART H5"
            config BT_INIC_NONE
                bool "Internal"
        endchoice

        # set this to 'y' to debug BT inic without WiFi fullmac
        config BT_INIC_DEBUG
            bool
            default n

        choice
            depends on BT_INIC_DEBUG && !FULLMAC_DEV
            prompt "iNIC debug Interface"
            default BT_INICD_H4
            config BT_INICD_H4
                bool "UART H4"
            config BT_INICD_H5
                bool "UART H5"
            config BT_INICD_SPI
                bool "SPI"
            config BT_INICD_SDIO
                bool "SDIO"
        endchoice

        config BT_INIC
            depends on BT_INIC_SHARE || BT_INIC_H4 || BT_INIC_H5 || BT_INIC_DEBUG
            bool
            default y


        # normal case: BT is always on AP CORE
        # wifi fullmac, BT shares interface with WiFi: BT stays with WiFi on NP CORE
        # wifi fullmac, BT uses UART alone: BT is on AP core, BUT CORE_AS_AP not defined.
        # wifi fullmac, BT normal: BT application is on AP core, BUT CORE_AS_AP not defined.
        config BT
            bool
            default y if CORE_AS_AP
            default y if BT_INIC_SHARE && CORE_AS_NP
            default y if FULLMAC_DEV && !BT_INIC_SHARE && !CORE_AS_NP
            select FTL_ENABLED

        config BT_ENABLE_FAST_MP
            depends on !BT_INIC
            bool
            default MP_INCLUDED

        config FTL_ENABLED
            bool

        if !BT_INIC
            rsource "../component/bluetooth/Kconfig"
        endif
    endif
endmenu

rsource "../component/lwip/Kconfig"

rsource "../component/ssl/Kconfig"

orsource "../component/wpan/Kconfig"

rsource "../component/rtk_coex/Kconfig.coex"

if !AMEBA_RLS
comment "---------Test Config---------"

menu "Verification and Test"
    rsource "../component/soc/amebadplus/Kconfig"
endmenu
endif

comment "--------Build Config---------"
menu "Build Option"

config FPGA
    bool "Select FPGA"
    depends on !AMEBA_RLS

comment "Choose the build configuration"
    choice
        prompt "Link ROM Mode"
        default LINK_ROM_SYMB
        config LINK_ROM_LIB
            bool "Link_ROM_Library"

        config LINK_ROM_SYMB
            bool "Link_ROM_Symbol"
    endchoice
endmenu

comment "----end of MENUCONFIG FOR General------"

menu "MENUCONFIG FOR KM0 CONFIG"
    rsource "project_km0/Kconfig"
endmenu


menu "MENUCONFIG FOR KM4 CONFIG"
    rsource "project_km4/Kconfig"
endmenu

comment "----- DO NOT ENTER IN THIS BUTTON ------"
menu "MENUCONFIG FOR Private"
config CORE_AS_AP
    bool "--DO NOT CHOOSE THIS CONFIG--"
config CORE_AS_NP
    bool "--DO NOT CHOOSE THIS CONFIG--"
endmenu
