mainmenu "AmebaDplus Configuration"

comment "-------------General config------------"

#Release flag, set to y after release
config AMEBA_RLS
  def_bool y

config AMEBADPLUS
    def_bool y

menu "CONFIG TrustZone"
    source "project_km4/Kconfig.tz"
endmenu

menu "CONFIG Link Option"
    choice
        prompt "IMG1(Bootloader) running on FLASH or SRAM?"
        default IMG1_FLASH
        config IMG1_FLASH
            bool "FLASH"
        config IMG1_SRAM
            bool "SRAM"
    endchoice

    choice
        prompt "IMG2(Application) running on FLASH or PSRAM?"
        default IMG2_FLASH
        config IMG2_FLASH
            bool "FLASH"
        config IMG2_PSRAM
            bool "PSRAM"
    endchoice
    if IMG2_FLASH
        config PSRAM_AS_HEAP
            bool "PSRAM AS HEAP"
    endif
    if TRUSTZONE_FOR_KM4
        choice
            prompt "IMG3(SecureImage) running on PSRAM or SRAM?"
            default IMG3_PSRAM
            config IMG3_PSRAM
                bool "PSRAM"
            config IMG3_SRAM
                bool "SRAM"
        endchoice
    endif
endmenu

menu "CONFIG Mass Production"
    config MP_INCLUDED
        bool "Enable MP"
    if MP_INCLUDED
        choice
            prompt "MP Mode"
            default MP_SHRINK
            config MP_EXPAND
                bool "expand"
            config MP_SHRINK
                bool "shrink"
        endchoice
    endif
endmenu

menu "CONFIG AT CMD"
    config SUPPORT_ATCMD
        bool "Enable ATCMD"
        default y
    if SUPPORT_ATCMD
        choice
            prompt "ATCMD Mode"
            default ATCMD_LOGUART
            config ATCMD_LOGUART
                bool "LOGUART"
            config ATCMD_MCU_CONTROL
                bool "MCU Control"
                select LONGER_CMD
        endchoice
        config LONGER_CMD
            bool "Enable Longer CMD"
        config ATCMD_NETWORK
            bool "Enable Network"
            default y
        config ATCMD_SOCKET
            bool "Enable Socket"
        config ATCMD_HTTP
            bool "Enable HTTP"
        config ATCMD_MQTT
            bool "Enable MQTT"
        config ATCMD_WEBSOCKET
            bool "Enable WEBSOCKET"
        config ATCMD_OTA
            bool "Enable OTA"
            default n
    endif
endmenu

menu "CONFIG RTK Assert Level"
    choice
        prompt "RTK Assert Level"
        default ASSERTION_ENABLE
        config ASSERTION_ENABLE
            bool "Assert Enable"
        config ASSERTION_SILENT
            bool "Assert Silent"
        config ASSERTION_DISABLE
            bool "Assert Disable"
    endchoice
endmenu

menu "CONFIG VFS"
    config VFS_LITTLEFS_INCLUDED
        bool "Enable VFS LITTLEFS"
        default y
    config VFS_FATFS_INCLUDED
        bool "Enable VFS FATFS"
    if VFS_FATFS_INCLUDED
        choice
            prompt "FATFS Memory Type"
            default FATFS_DISK_FLASH
            config FATFS_DISK_FLASH
                bool "FLASH"
        endchoice
        config FATFS_WITHIN_APP_IMG
            bool "FATFS within APP Image"
    endif
endmenu

menu "CONFIG OS"
    config KERNEL
        bool "Enable Kernel"
        default y

    if KERNEL
        choice
            prompt "Kernel Selecte"
            default PLATFORM_FREERTOS
            config PLATFORM_FREERTOS
                bool "FREERTOS"
        endchoice
    endif
endmenu

menu "CONFIG OTA OPTION"
    config UPGRADE_BOOTLOADER
        bool "Enable Bootloader OTA"
    config COMPRESS_OTA_IMG
        bool "Enable Compress APP Image"
endmenu

comment "----------Connectivity config----------"
menu "CONFIG WHC INTF"
    choice
        prompt "WHC MODE"
        default WHC_INTF_IPC_MENU
            config WHC_INTF_IPC_MENU
                bool "WHC_IPC"
                select CORE_AS_NP_FOR_KM0
                select CORE_AS_AP_FOR_KM4
            config FULLMAC_MENU
                bool "FULLMAC"
                select WIFI_HOST_CONTROL
            config WHC_BRIDGEB
                bool "WHC_BRIDGEB"
                select CORE_AS_AP_FOR_KM4
                select WIFI_HOST_CONTROL
            config WHC_BRIDGE
                bool "WHC_BRIDGE"
                select CORE_AS_AP_FOR_KM4
                select WIFI_HOST_CONTROL
            config FULLMAC_HOST
                bool "FULLMAC_HOST"
                select CORE_AS_AP_FOR_KM4

            # config WIFI_SINGLE_CORE_MENU
                # bool "SINGLE CORE"
                # select CORE_AS_AP_FOR_KM4
    endchoice

    if !WHC_INTF_IPC_MENU
        choice
           prompt "HW INTERFACE"
           config WHC_INTF_SDIO
                bool "WHC_INTF_SDIO"
            config WHC_INTF_USB
                bool "WHC_INTF_USB"
            config WHC_INTF_SPI
                bool "WHC_INTF_SPI"
        endchoice
    endif

    if FULLMAC_MENU

        #WPA Lite in dev for FULLMAC host without std wpa_supplicant
        choice
            prompt "WPA Lite Location"
            default WPA_LOCATION_HOST
            config WPA_LOCATION_HOST
                bool "HOST"
            config WPA_LOCATION_DEV
                bool "DEV"
        endchoice

        menu "Debug"

        choice
            prompt "WIFI Driver Location"
            default KM4_AS_NP
            config KM0_AS_NP
                bool "KM0"
                select CORE_AS_NP_FOR_KM0

            config KM4_AS_NP
                bool "KM4"
                select CORE_AS_NP_FOR_KM4
        endchoice

        #choose WPA_STD will compile std supplicant in device side.
        choice
            prompt "WPA Supplicant STD"
            config WPA_NONE
                bool "NONE"
            config WPA_STD
                bool "STD"
        endchoice

        endmenu
    endif

    config CORE_AS_AP_FOR_KM4
        bool
    config CORE_AS_NP_FOR_KM0
        bool
    config CORE_AS_AP_FOR_KM0
        bool
    config CORE_AS_NP_FOR_KM4
        bool

endmenu

menu "CONFIG WIFI"
    config WLAN_MENU
        bool "Enable Wifi"
        default y

    if WLAN_MENU

        choice
            depends on !AMEBA_RLS
            prompt "SDK MODE"
            default NORMAL_SDK
            config NORMAL_SDK
                bool "NORMAL_INIC"
            config ZEPHYR_SDK_FOR_KM0
                bool "ZEPHYR_INIC"
        endchoice
        source "../component/wifi/Kconfig.wifi"

        config WHC_INTF_IPC_MENU
            bool
            select WHC_INTF_IPC
            select WLAN
            select AS_INIC_NP if CORE_AS_NP
            select AS_INIC_AP if CORE_AS_AP
            select LWIP_LAYER if CORE_AS_AP && !MP_SHRINK
            select FW_DRIVER_COEXIST if CORE_AS_NP
            select ENABLE_WPS if CORE_AS_AP && WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS

        config FULLMAC_MENU
            bool
            depends on CORE_AS_NP # only work in NP
            select WLAN
            select AS_INIC_NP
            select FW_DRIVER_COEXIST
            select WIFI_FW_EN

        config WHC_BRIDGEB
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER

        config WHC_BRIDGE
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER

        config FULLMAC_HOST
            bool
            depends on CORE_AS_AP
            select WLAN
            select AS_INIC_AP
            select LWIP_LAYER

        config WIFI_SINGLE_CORE_MENU # this case will never be selected
            bool
            depends on CORE_AS_AP
            select WLAN
            select SINGLE_CORE_WIFI
            select LWIP_LAYER
            select FW_DRIVER_COEXIST
            select ENABLE_WPS if WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS

        config WIFI_FW_EN_FOR_KM0
            depends on !FULLMAC_MENU
            bool
            default !MP_SHRINK


    endif
    if !WLAN_MENU
        config WLAN_DISABLE
            bool
            select AS_INIC_AP if CORE_AS_AP
            select AS_INIC_NP if CORE_AS_NP
    endif

    config WLAN
        bool
    config WHC_INTF_IPC
        bool
    config AS_INIC_NP
        bool
    config AS_INIC_AP
        bool
    config LWIP_LAYER
        bool
    config FW_DRIVER_COEXIST
        bool
    config WHC_INTF_SDIO
        bool
    config WHC_INTF_SPI
        bool
    config WHC_INTF_USB
        bool
    config WIFI_FW_EN
        bool
    config SINGLE_CORE_WIFI
        bool
    config ENABLE_WPS
        bool
    config ENABLE_WPS_DISCOVERY
        bool
    config FULLMAC_HOST
        bool
    config WHC_BRIDGE
        bool
    config WIFI_HOST_CONTROL
        bool
endmenu

menu "CONFIG BT"
    config  BT_MENU
        bool "Enable BT"

    if BT_MENU

        source 'Kconfig.bt'

        # normal case: BT is always on AP CORE
        # wifi fullmac, BT shares interface with WiFi: BT stays with WiFi on NP CORE
        # wifi fullmac, BT uses UART alone: BT is on AP core, BUT CORE_AS_AP not defined.
        # wifi fullmac, BT normal: BT application is on AP core, BUT CORE_AS_AP not defined.
        config BT
            bool
            default y if CORE_AS_AP
            default y if BT_INIC_SHARE && CORE_AS_NP
            default y if !BT_INIC_SHARE && !CORE_AS_NP
            select FTL_ENABLED

        config BT_ENABLE_FAST_MP
            depends on !BT_INIC
            bool
            default MP_INCLUDED

        if BT
            config BT_PERIPHERAL_MENU
                bool
                select BT_PERIPHERAL

            config BT_CENTRAL_MENU
                bool
                select BT_CENTRAL

            config BT_SCATTERNET_MENU
                bool
                select BT_SCATTERNET

            config BT_TRANSFER_MODULE_MENU
                bool
                select BT_TRANSFER_MODULE

            config BT_MESH_PROVISIONER_MENU
                bool
                select BT_MESH_PROVISIONER
                select BT_MESH_PROVISIONER_SUPPORT

            config BT_MESH_DEVICE_MENU
                bool
                select BT_MESH_DEVICE
                select BT_MESH_DEVICE_SUPPORT

            config BT_MESH_PROVISIONER_SCATTERNET_MENU
                bool
                select BT_MESH_PROVISIONER_SCATTERNET
                select BT_MESH_PROVISIONER_SUPPORT

            config BT_MESH_DEVICE_SCATTERNET_MENU
                bool
                select BT_MESH_DEVICE_SCATTERNET
                select BT_MESH_DEVICE_SUPPORT
        endif

        config FTL_ENABLED
            bool
        config BT_PERIPHERAL
            bool
        config BT_CENTRAL
            bool
        config BT_SCATTERNET
            bool
        config BT_TRANSFER_MODULE
            bool
        config BT_MESH_PROVISIONER
            bool
        config BT_MESH_PROVISIONER_SUPPORT
            bool
        config BT_MESH_DEVICE
            bool
        config BT_MESH_DEVICE_SUPPORT
            bool
        config BT_MESH_PROVISIONER_SCATTERNET
            bool
        config BT_MESH_PROVISIONER_SUPPORT
            bool
        config BT_MESH_DEVICE_SCATTERNET
            bool
        config BT_MESH_DEVICE_SUPPORT
            bool
    endif
endmenu

menu "CONFIG LWIP"
    config FAST_DHCP_MENU
        bool "Enable Fast DHCP"
        select FAST_DHCP if CORE_AS_AP

    config IP_NAT_MENU
        bool "Enable NAT REPEATER"
        select IP_NAT if CORE_AS_AP

    config LWIP_NETCONN_SEM_PER_THREAD_MENU
        bool "Enable LWIP NETCONN SEM PER THREAD"
        select LWIP_NETCONN_SEM_PER_THREAD if CORE_AS_AP

    config FAST_DHCP
        bool
    config IP_NAT
        bool
    config LWIP_NETCONN_SEM_PER_THREAD
        bool

    config LWIP_DEBUG
        bool "Enable LWIP Debug"
        default n

    if LWIP_DEBUG
        config ETHARP_DEBUG
            bool "Enable ETHARP DEBUG"
        config NETIF_DEBUG
            bool "Enable NETIF DEBUG"
        config PBUF_DEBUG
            bool "Enable PBUF DEBUG"
        config API_LIB_DEBUG
            bool "Enable API LIB DEBUG"
        config API_MSG_DEBUG
            bool "Enable API MSG DEBUG"
        config SOCKETS_DEBUG
            bool "Enable SOCKETS DEBUG"
        config ICMP_DEBUG
            bool "Enable ICMP DEBUG"
        config IPNAT_DEBUG
            bool "Enable IPNAT DEBUG"
        config IGMP_DEBUG
            bool "Enable IGMP DEBUG"
        config INET_DEBUG
            bool "Enable INET DEBUG"
        config IP_DEBUG
            bool "Enable IP DEBUG"
        config IP_REASS_DEBUG
            bool "Enable IP REASS DEBUG"
        config RAW_DEBUG
            bool "Enable RAW DEBUG"
        config MEM_DEBUG
            bool "Enable MEM DEBUG"
        config MEMP_DEBUG
            bool "Enable MEMP DEBUG"
        config SYS_DEBUG
            bool "Enable SYS DEBUG"
        config TIMERS_DEBUG
            bool "Enable TIMERS DEBUG"
        config TCP_DEBUG
            bool "Enable TCP DEBUG"
        config TCP_INPUT_DEBUG
            bool "Enable TCP INPUT DEBUG"
        config TCP_FR_DEBUG
            bool "Enable TCP FR DEBUG"
        config TCP_RTO_DEBUG
            bool "Enable TCP RTO DEBUG"
        config TCP_CWND_DEBUG
            bool "Enable TCP CWND DEBUG"
        config TCP_WND_DEBUG
            bool "Enable TCP WND DEBUG"
        config TCP_OUTPUT_DEBUG
            bool "Enable TCP OUTPUT DEBUG"
        config TCP_RST_DEBUG
            bool "Enable TCP RST DEBUG"
        config TCP_QLEN_DEBUG
            bool "Enable TCP QLEN DEBUG"
        config UDP_DEBUG
            bool "Enable UDP DEBUG"
        config TCPIP_DEBUG
            bool "Enable TCPIP DEBUG"
        config SLIP_DEBUG
            bool "Enable SLIP DEBUG"
        config DHCP_DEBUG
            bool "Enable DHCP DEBUG"
        config AUTOIP_DEBUG
            bool "Enable AUTOIP DEBUG"
        config DNS_DEBUG
            bool "Enable DNS DEBUG"
        config IP6_DEBUG
            bool "Enable IP6 DEBUG"
        config DHCP6_DEBUG
            bool "Enable DHCP6 DEBUG"
    endif
endmenu

menu "CONFIG SSL"
    config MBEDTLS_ENABLED_MENU
        bool "Enable MbedTLS"
        select MBEDTLS_ENABLED if CORE_AS_AP

    config MBEDTLS_SSL_PROTO_TLS1_3_MENU
        depends on MBEDTLS_ENABLED_MENU
        bool "Enable TLS 1.3"
        select MBEDTLS_SSL_PROTO_TLS1_3 if CORE_AS_AP

    config MBEDTLS_ENABLED
        bool

    config MBEDTLS_SSL_PROTO_TLS1_3
        bool
endmenu

if !AMEBA_RLS
comment "---------------Test Config-------------"
menu "Verification and Test"
    config FPGA
        bool "Select FPGA"
    source "Kconfig.soc"
endmenu
endif

comment "--------------Build Config-------------"
menu "Build Option"

comment "Choose the build configuration"
    choice
        prompt "Link ROM Mode"
        default LINK_ROM_SYMB
        config LINK_ROM_LIB
            bool "Link_ROM_Library"

        config LINK_ROM_SYMB
            bool "Link_ROM_Symbol"
    endchoice
endmenu

comment "---------------KM0 config--------------"

menu "MENUCONFIG FOR KM0 CONFIG"
    source "project_km0/Kconfig"
endmenu

comment "---------------KM4 config--------------"

menu "MENUCONFIG FOR KM4 CONFIG"
    source "project_km4/Kconfig"
endmenu

comment "---------------Config end--------------"


menu "--DO NOT ENTER IN THIS BUTTON--"
config CORE_AS_AP
    bool "--PLEASE LEAVE THIS SUB MENU--"
config CORE_AS_NP
    bool "--PLEASE LEAVE THIS SUB MENU--"
endmenu
