menu "Audio Config"
    config AUDIO_FWK_MENU
        bool "Enable Audio Framework"
        default y if WIFI_AUDIO_MENU||WFA_SRC_MENU||MEDIA_PLAYER_MENU
        select AUDIO_FWK if CORE_AS_AP
    if AUDIO_FWK_MENU
        choice
            prompt "Select Audio Interfaces"
            default AUDIO_PASSTHROUGH_MENU if (WIFI_AUDIO_MENU||WFA_SRC_MENU)
            config AUDIO_MIXER_MENU
                bool "Mixer"
                select AUDIO_MIXER if CORE_AS_AP
            config AUDIO_PASSTHROUGH_MENU
                bool "PassThrough"
                select AUDIO_PASSTHROUGH if CORE_AS_AP
        endchoice
    endif


    if AMEBALITE||AMEBASMART||AMEBASMARTPLUS  #amebalite amebasmart smart+
        config MEDIA_PLAYER_MENU
            bool "Enable Media Framework"
            select MEDIA_PLAYER if CORE_AS_AP

        if MEDIA_PLAYER_MENU
            menu "Demux"
                comment "    Demux"

                config MEDIA_DEMUX_WAV_MENU
                    bool "Demux WAV"
                    select MEDIA_DEMUX_WAV if CORE_AS_AP

                config MEDIA_DEMUX_MP3_MENU
                    bool "Demux MP3"
                    select MEDIA_DEMUX_MP3 if CORE_AS_AP

                config MEDIA_DEMUX_AAC_MENU
                    bool "Demux AAC"
                    select MEDIA_DEMUX_AAC if CORE_AS_AP

                config MEDIA_DEMUX_MP4_MENU
                    bool "Demux M4A"
                    select MEDIA_DEMUX_MP4 if CORE_AS_AP

                config MEDIA_DEMUX_FLAC_MENU
                    bool "Demux FLAC"
                    select MEDIA_DEMUX_FLAC if CORE_AS_AP

                config MEDIA_DEMUX_OGG_MENU
                    bool "Demux OGG"
                    select MEDIA_DEMUX_OGG if CORE_AS_AP

                config MEDIA_DEMUX_AMR_MENU
                    bool "Demux AMR"
                    select MEDIA_DEMUX_AMR if CORE_AS_AP

            endmenu

            menu "Codec"
                comment "    Codec"
                config MEDIA_CODEC_PCM_MENU
                    bool "Codec PCM"
                    select MEDIA_CODEC_PCM if CORE_AS_AP

                config MEDIA_CODEC_MP3_MENU
                    bool "Codec MP3"
                    select MEDIA_CODEC_MP3 if CORE_AS_AP

                config MEDIA_CODEC_HAAC_MENU
                    bool "Codec AAC"
                    select MEDIA_CODEC_HAAC if CORE_AS_AP

                config MEDIA_CODEC_VORBIS_MENU
                    bool "Codec VORBIS"
                    select MEDIA_CODEC_VORBIS if CORE_AS_AP

                config MEDIA_CODEC_OPUS_MENU
                    bool "Codec OPUS"
                    select MEDIA_CODEC_OPUS if CORE_AS_AP

                config MEDIA_CODEC_AMR_MENU
                    bool "Codec AMR"
                    select MEDIA_CODEC_AMR if CORE_AS_AP

                config MEDIA_CODEC_G711_MENU
                    bool "Codec G711"
                    select MEDIA_CODEC_G711 if CORE_AS_AP

                config MEDIA_CODEC_GSM_MENU
                    bool "Codec GSM"
                    select MEDIA_CODEC_GSM if CORE_AS_AP

            endmenu
        endif
    endif


    menu "Third Party Lib"
        config SPEEX_LIB_MENU
            bool "Speex"
            default n
            select SPEEX_LIB if CORE_AS_AP
        config OPUS_LIB_MENU
            bool "OPUS"
            default n
            select OPUS_LIB if CORE_AS_AP
    endmenu

endmenu

if AMEBADPLUS||AMEBAD           #amebadplus amebaD

    menu "Wifi Audio Config"
        config WIFI_AUDIO_MENU
            bool "Enable WIFI AUDIO"
            default n
            select WIFI_AUDIO if CORE_AS_AP
        config WFA_SRC_MENU
            bool "Enable WFA SRC"
            default n
            select WFA_SRC if CORE_AS_AP
        if WIFI_AUDIO_MENU||WFA_SRC_MENU
            # config AUDIO_PASSTHROUGH_MENU
            #     bool
            #     default y
            config WFA_FEC_USE_SRAM_MENU
                bool "Enable FEC USE SRAM"
                default n
                select WFA_FEC_USE_SRAM if CORE_AS_AP
        endif

    endmenu

endif


config AUDIO_FWK
bool

config AUDIO_MIXER
bool

config AUDIO_PASSTHROUGH
bool

config MEDIA_PLAYER
bool

config MEDIA_DEMUX_WAV
bool

config MEDIA_DEMUX_MP3
bool

config MEDIA_DEMUX_AAC
bool

config MEDIA_DEMUX_MP4
bool

config MEDIA_DEMUX_FLAC
bool

config MEDIA_DEMUX_OGG
bool

config MEDIA_DEMUX_AMR
bool

config MEDIA_CODEC_PCM
bool

config MEDIA_CODEC_MP3
bool

config MEDIA_CODEC_HAAC
bool

config MEDIA_CODEC_VORBIS
bool

config MEDIA_CODEC_OPUS
bool

config MEDIA_CODEC_AMR
bool

config MEDIA_CODEC_G711
bool

config MEDIA_CODEC_GSM
bool

config SPEEX_LIB
bool

config OPUS_LIB
bool

config WIFI_AUDIO
bool

config WFA_SRC
bool

config WFA_FEC_USE_SRAM
bool
