comment "----------CPU config----------"

menu "CONFIG CHIP"

    choice
        prompt "ArmCore"
        default RSICV_CORE_KR4_FOR_KR4
        config RSICV_CORE_KR4_FOR_KR4
            bool "RSICV_KR4"
    endchoice

endmenu

#=====================    Debug Message Config   =====================
comment '--------------Debug Message Config------------'
menu "To set debug msg flag"
    config DEBUG_RXI_DUMP_FOR_KR4
        bool
        default n
    config DEBUG_BACK_TRACE_FOR_KR4
        bool "Enable debug backtrace"
        default y
    config DEBUG_CRASH_DUMP_FOR_KR4
        bool "Enable debug crash dump"
        default y
    if DEBUG_CRASH_DUMP_FOR_KR4
        config STACK_DUMP_DEPTH_FOR_KR4
            int
            default 100
        config DEBUG_CRASH_DUMP_RUNS_FOR_KR4
            int
            default 1
    endif

endmenu

