if WLAN_MENU && !FULLMAC_HOST
    menu "CONFIG COEX"
        config COEX_MENU
            bool "Enable Coex"
            default y if !AMEBAL2 && !AMEBASMARTPLUS

        if COEX_MENU
            config BT_COEXIST
                bool 
                # AP core, Follow different scenario
                default y if ((AS_INIC_AP && !SPI_FULLMAC_HOST) || (FULLMAC_DEV && CONFIG_BT)) && !SINGLE_CORE_WIFI
                # NP core, Follow WLAN
                default y if (AS_INIC_NP || SINGLE_CORE_WIFI)
            
                select COEXIST_HOST if ((AS_INIC_AP && !SPI_FULLMAC_HOST) || (FULLMAC_DEV && CONFIG_BT)) && !SINGLE_CORE_WIFI
                select COEXIST_DEV if (AS_INIC_NP || SINGLE_CORE_WIFI)

            config COEXIST_HOST
                bool            
            config COEXIST_DEV
                bool

            config COEXIST_EXT_MENU
                bool "Enable Ext Coex Support"
                default n
                select COEX_EXT_CHIP_SUPPORT

            if COEXIST_EXT_MENU
                choice
                    prompt "PTA Mode"
                    default EXT_PTA_MODE_SIMPLE
                    config EXT_PTA_MODE_SIMPLE
                        bool "PTA Mode Simple"
                    config EXT_PTA_MODE_MULTIPLE
                        bool "PTA Mode Multiple"
                endchoice

                choice
                    prompt "Ext Protocol"
                    default EXT_PROTOCOL_WPAN
                    config EXT_PROTOCOL_WPAN
                        bool "Ext WPAN"
                    config EXT_PROTOCOL_BT
                        bool "Ext BT"
                    config EXT_PROTOCOL_BT_WPAN
                        bool "Ext BT&WPAN"
                endchoice

                choice
                    prompt "Priority Mode"
                    default EXT_PRIORITY_DIRECTIONAL
                    config EXT_PRIORITY_DIRECTIONAL
                        bool "Directional"
                    config EXT_PRIORITY_STATIC
                        depends on EXT_PTA_MODE_SIMPLE
                        bool "Static"
                endchoice
                choice
                    prompt "Request Polar"
                    default EXT_REQUEST_POLAR_HIGH
                    config EXT_REQUEST_POLAR_HIGH
                        bool "Request Active High"
                    config EXT_REQUEST_POLAR_LOW
                        depends on EXT_PTA_MODE_SIMPLE
                        bool "Request Active Low"
                endchoice
                choice
                    prompt "Gnt Polar"
                    default EXT_GNT_POLAR_LOW
                    config EXT_GNT_POLAR_LOW
                        bool "Gnt Active Low"
                    config EXT_GNT_POLAR_HIGH
                        depends on EXT_PTA_MODE_SIMPLE
                        bool "Gnt Active High"
                endchoice

                config EXT_PRI_DET_TIME
                    int "Priority Det Time"
                    range 0 254 
                    # 2 for RTL8771H; 0 for Silicon Thread RCP
                    default 2 

                config EXT_TRX_DET_TIME
                    int "TRX Det Time"
                    range 0 254 
                    # 8 for RTL8771H; 20 for Silicon Thread RCP
                    default 8    

                # PTA PINMUX PIN set
                config EXT_PTA_PIN_REQ
                    string "Pin PTA Request"
                    default "PA_10" if AMEBASMART
                    default "PA_15" if AMEBALITE
                    default "PB_0" if AMEBADPLUS
                    default "PA_21" if AMEBAGREEN2

                config EXT_PTA_PIN_PRI
                    string "Pin PTA Priority"
                    default "PA_6" if AMEBASMART
                    default "PA_17" if AMEBALITE
                    default "PB_2" if AMEBADPLUS
                    default "PA_18" if AMEBAGREEN2

                config EXT_PTA_PIN_GNT
                    string "Pin PTA Gnt"
                    default "PA_9" if AMEBASMART
                    default "PA_16" if AMEBALITE
                    default "PB_1" if AMEBADPLUS
                    default "PA_19" if AMEBAGREEN2

                config COEX_EXT_CHIP_SUPPORT
                    bool
            endif
        endif
    endmenu

endif