# SPDX-License-Identifier: GPL-2.0
config WIFI_RTK_CFG80211_FULLMAC
	tristate "Fullmac for wifi driver"
	select CFG80211_DEFAULT_PS
	select CFG80211_CRDA_SUPPORT
	select CFG80211_WEXT
	select WLAN_VENDOR_INTEL

	help
	  Realtek wifi driver.
	  802.11 a/b/g/n/ac/ax AXI wireless network adapter
