mainmenu "AmebaSmart Configuration"

comment "--------MENUCONFIG FOR General---------"

#Release flag, set to y after release
config AMEBA_RLS
  def_bool y

config AMEBASMART
    def_bool y

#---------- FEATURE LIST START-----------#
#All features are invisible in menuconfig

config SUPPORT_NAND_FLASH
    def_bool y

config SUPPORT_FATFS_USB
    def_bool y

config SUPPORT_SD_CARD
    def_bool y

#
# USB features
#

# USB function
config SUPPORT_USB
    def_bool y

# USB shared DFIFO mode
config SUPPORT_USB_SHARED_DFIFO
    def_bool y

# USB UAC device
config SUPPORT_USBD_UAC
    def_bool y

# USB ECM host
config SUPPORT_USBH_ECM
    def_bool y

# USB ECM bridge
config SUPPORT_USBH_ECM_BRIDGE
    def_bool y

config SUPPORT_SDIOH
    def_bool y

config SUPPORT_SMP
    def_bool y

#---------- FEATURE LIST END-------------#

menu "CONFIG Link Option"
    choice
        prompt "IMG1(Bootloader) running on SRAM?"
        default IMG1_SRAM
        config IMG1_SRAM
            bool "SRAM"
    endchoice

    choice
        prompt "IMG2(Application) running on PSRAM or FLASH?"
        default IMG2_PSRAM
        config IMG2_PSRAM
            bool "PSRAM"
        config IMG2_FLASH
            bool "FLASH"
    endchoice
endmenu

menu "CONFIG TrustZone"
    config TRUSTZONE_FOR_KM4
        bool "Enable TrustZone"
    config TRUSTZONE_EN
        depends on TRUSTZONE_FOR_KM4
        bool
        default y
endmenu

menu "CONFIG Mass Production"
    config MP_INCLUDED
        bool "Enable MP"
    if MP_INCLUDED
        choice
            prompt "MP Mode"
            default MP_SHRINK
            config MP_EXPAND
                bool "expand"
            config MP_SHRINK
                bool "shrink"
        endchoice
    endif
endmenu

menu "CONFIG Linux"
    config LINUX_FW_EN
        bool "Enable Linux (CA32 Linux Need KM4 Support)"
endmenu

rsource "../component/at_cmd/Kconfig"

rsource "../component/soc/common/rtk_assert/Kconfig"

rsource "../component/file_system/Kconfig"

rsource "../component/os/Kconfig"

menu "CONFIG OTA OPTION"
    config UPGRADE_BOOTLOADER
        bool "Enable Bootloader OTA"

    config COMPRESS_OTA_IMG
        bool "Enable Compress APP Image"
endmenu

rsource "../component/usb/Kconfig"

menu "CONFIG APPLICATION"

    rsource "../component/ui/Kconfig"

    rsource "../component/audio/Kconfig"

    rsource "../component/utils/ipc/Kconfig"

    rsource "../component/dynamic_app/Kconfig"

    menu "AI Config"
        orsource "../component/tflite_micro/Kconfig"
        rsource "../component/aivoice/Kconfig"
    endmenu

    orsource "${APP_DIR}/Kconfig.prj"

endmenu


comment "-----Connectivity Config-----"
menu "CONFIG WHC INTF"
    choice
        prompt "WHC MODE"
        default WHC_INTF_IPC_MENU
        config WHC_INTF_IPC_MENU
            bool "WHC_IPC"
            select CORE_AS_NP_FOR_KM4
            select CORE_AS_AP_FOR_CA32
        # config FULLMAC_DEV
        #     bool "FULLMAC"
        config WIFI_SINGLE_CORE_MENU
            bool "SINGLE CORE"
            select CORE_AS_NP_FOR_KM4
            select CORE_AS_AP_FOR_KM4
        # config SDIO_BRIDGE
        #     bool "SDIO_BRIDGE"
        # config SPI_FULLMAC_HOST
        #     bool "SPI_FULLMAC_HOST"

    endchoice

    if FULLMAC_DEV
        choice
            prompt "FULLMAC INTERFACE"
            config SPI_FULLMAC
                bool "SPI_FULLMAC"
            config USB_FULLMAC
                bool "USB_FULLMAC"
            config SDIO_FULLMAC
                bool "SDIO_FULLMAC"
        endchoice
    endif

    config CORE_AS_AP_FOR_CA32
        bool
    config CORE_AS_NP_FOR_KM4
        bool
    config CORE_AS_AP_FOR_KM4
        bool
    config CORE_AS_LP_FOR_KM0
        bool
        default y
endmenu

menu "CONFIG WIFI"
    config WLAN_MENU
        bool "Enable Wifi"
        default y
    if WLAN_MENU

        rsource "../component/wifi/Kconfig.wifi"

        config WHC_INTF_IPC_MENU
            bool
            select WHC_INTF_IPC
            select WLAN if !CORE_AS_LP
            select AS_INIC_NP if CORE_AS_NP
            select AS_INIC_AP if CORE_AS_AP
            select LWIP_LAYER if CORE_AS_AP && !MP_SHRINK
            select ENABLE_WPS if CORE_AS_AP && WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS
            select LWIP_NETCONN_SEM_PER_THREAD if CORE_AS_AP

        config FULLMAC_DEV
            bool
            depends on CORE_AS_NP
            select WHC_INTF_SDIO if SDIO_FULLMAC
            select WHC_INTF_SPI if SPI_FULLMAC
            select WHC_INTF_USB if USB_FULLMAC
            select WLAN if !CORE_AS_LP
            select AS_INIC_NP
            select WIFI_FW_EN

        config SDIO_BRIDGE
            bool
            depends on CORE_AS_AP
            select WLAN if !CORE_AS_LP
            select SINGLE_CORE_WIFI
            select WHC_INTF_SDIO
            select LWIP_LAYER

        config SPI_FULLMAC_HOST
            bool
            depends on CORE_AS_AP
            select WLAN_FOR_CA32
            select WLAN_FOR_KM4
            select AS_INIC_AP_FOR_CA32
            select LWIP_LAYER

        config WIFI_SINGLE_CORE_MENU
            bool
            depends on CORE_AS_AP
            select WLAN if !CORE_AS_LP
            select SINGLE_CORE_WIFI
            select LWIP_LAYER if !MP_SHRINK
            select ENABLE_WPS if WIFI_WPS_ENABLE_MENU
            select ENABLE_WPS_DISCOVERY if ENABLE_WPS
            select LWIP_NETCONN_SEM_PER_THREAD

    endif

    if !WLAN_MENU
        config WLAN_DISABLE
            bool
            select AS_INIC_AP if CORE_AS_AP
            select AS_INIC_NP if CORE_AS_NP
    endif


    config WLAN
        bool
    config WHC_INTF_IPC
        bool
    config AS_INIC_AP
        bool
    config AS_INIC_NP
        bool
    config LWIP_LAYER
        bool
    config WHC_INTF_SDIO
        bool
    config WHC_INTF_SPI
        bool
    config WHC_INTF_USB
        bool
    config WIFI_FW_EN
        bool
    config SINGLE_CORE_WIFI
        bool
    config ENABLE_WPS
        bool
    config ENABLE_WPS_DISCOVERY
        bool
    config LWIP_NETCONN_SEM_PER_THREAD
        bool

endmenu

menu "CONFIG BT"
    config BT_MENU
        bool "Enable BT"
    if BT_MENU
        # IC BT capability
        config BT_HAS_BREDR
            def_bool y
        config BT_HAS_MESH
            def_bool y
        config BT_HAS_LEAUDIO
            def_bool y

        choice
            prompt "BT Mode Selection"
            default BT_DUAL_MODE
            config BT_BLE_ONLY
                bool "BLE_ONLY"

            config BT_DUAL_MODE
                bool "DUAL_MODE"
        endchoice

        config BT
            depends on CORE_AS_AP
            bool
            default y
            select FTL_ENABLED

        config FTL_ENABLED
            bool

        rsource "../component/bluetooth/Kconfig"

    endif
endmenu


rsource "../component/lwip/Kconfig"

rsource "../component/ssl/Kconfig"

orsource "../component/wpan/Kconfig"

rsource "../component/rtk_coex/Kconfig.coex"

if !AMEBA_RLS
comment "---------Test Config---------"

menu "Verification and Test"
    rsource "../component/soc/amebasmart/Kconfig"
endmenu
endif

comment "--------Build Config---------"

menu "Build Option"

    config FPGA
        bool "Select FPGA"
        depends on !AMEBA_RLS
        default y

    comment "Choose the build configuration"
    choice
        prompt "Link ROM Mode"
        default LINK_ROM_SYMB

        config LINK_ROM_LIB
            bool "Link_ROM_Library"

        config LINK_ROM_SYMB
            bool "Link_ROM_Symbol"
    endchoice
endmenu

comment "-----end of MENUCONFIG FOR General-----"


menu "MENUCONFIG FOR KM0 CONFIG"
    rsource "project_lp/Kconfig"
endmenu


menu "MENUCONFIG FOR KM4 CONFIG"
    rsource "project_hp/Kconfig"
endmenu



menu "MENUCONFIG FOR CA32 CONFIG"
    rsource "project_ap/Kconfig"
endmenu


comment "----- DO NOT ENTER IN THIS BUTTON ------"
menu "MENUCONFIG FOR Private"
config CORE_AS_AP
    bool "--DO NOT CHOOSE THIS CONFIG--"
config CORE_AS_NP
    bool "--DO NOT CHOOSE THIS CONFIG--"
config CORE_AS_LP
    bool "--DO NOT CHOOSE THIS CONFIG--"
endmenu
