comment "--- --------------CPU config Start------------"

menu "CONFIG CHIP" #DONE
    choice
        prompt "ArmCore"
        default ARM_CORE_CA32_FOR_CA32
        config ARM_CORE_CA32_FOR_CA32
            bool "ARM_CA32"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBASMART_A_CUT_FOR_CA32
        config AMEBASMART_A_CUT_FOR_CA32
            bool "AMEBASMART_A_Cut"
    endchoice

    # Enable NEON (Advanced SIMD) support for ARM Cortex-A processors
    config NEON_FOR_CA32
        bool
        default y

endmenu

comment "--- --------------smp config Start------------"

menu "CONFIG SMP"
    choice
        prompt "Select Core Num"
        default SMP_DUAL_CORE_FOR_CA32
        config SMP_DUAL_CORE_FOR_CA32
            bool "DUAL"
        config SMP_SINGLE_CORE_FOR_CA32
            bool "SINGLE"
    endchoice

    config CORE_NUM_FOR_CA32
        int
        default 2 if SMP_DUAL_CORE_FOR_CA32
        default 1 if SMP_SINGLE_CORE_FOR_CA32

    config SMP
        bool
        default y if SMP_DUAL_CORE_FOR_CA32
endmenu
