comment "--- --------------CPU config Start------------"

menu "CONFIG CHIP" #DONE
    choice
        prompt "ArmCore"
        default ARM_CORE_CA32_FOR_CA32
        config ARM_CORE_CA32_FOR_CA32
            bool "ARM_CA32"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBASMART_A_CUT_FOR_CA32
        config AMEBASMART_A_CUT_FOR_CA32
            bool "AMEBASMART_A_Cut"
    endchoice
endmenu

comment "--- --------------smp config Start------------"

menu "CONFIG SMP"
    choice
        prompt "Select Core Num"
        default SMP_DUAL_CORE_FOR_CA32
        config SMP_DUAL_CORE_FOR_CA32
            bool "DUAL"
        config SMP_SINGLE_CORE_FOR_CA32
            bool "SINGLE"
    endchoice

    config CORE_NUM_FOR_CA32
        int
        default 2 if SMP_DUAL_CORE_FOR_CA32
        default 1 if SMP_SINGLE_CORE_FOR_CA32
endmenu

comment "--- --------------Peripheral config Start------------"

menu "CONFIG USB" #DONE
    config USB_OTG_EN_FOR_CA32
        bool "Enable USB"

    if USB_OTG_EN_FOR_CA32
        choice
            prompt "USB Mode"
            default USB_DEVICE_EN_FOR_CA32
            config USB_DEVICE_EN_FOR_CA32
                bool "Device"
            config USB_HOST_EN_FOR_CA32
                bool "Host"
            config USB_DRD_EN_FOR_CA32
                bool "DRD"
        endchoice

        if USB_DEVICE_EN_FOR_CA32
            comment 'USB Device Class'
            config USBD_CDC_ACM_FOR_CA32
                bool "CDC ACM"
            config USBD_COMPOSITE_FOR_CA32
                bool "Composite"
            if USBD_COMPOSITE_FOR_CA32
                choice
                    prompt "Select Composite Class"
                    config USBD_COMPOSITE_CDC_ACM_HID_FOR_CA32
                        bool "CDC ACM + HID"
                    config USBD_COMPOSITE_CDC_ACM_UAC_FOR_CA32
                        bool "CDC ACM + UAC"
                endchoice
            endif
            config USBD_HID_FOR_CA32
                bool "HID"
            config USBD_MSC_FOR_CA32
                bool "MSC"
            config USBD_UAC_FOR_CA32
                bool "UAC (Experimental)"
            config USBD_VENDOR_FOR_CA32
                bool "Vendor"
        endif

        if USB_HOST_EN_FOR_CA32
            comment 'USB Host Class'
            config USBH_CDC_ACM_FOR_CA32
                bool "CDC ACM"
            config USBH_CDC_ECM_FOR_CA32
                bool "CDC ECM"
                if USBH_CDC_ECM_FOR_CA32
                    choice
                        prompt "Select USB Ethernet"
                        config  USBH_ECM_ETHERNE_FOR_CA32
                            bool "USB Ethernet"
                            select LWIP_USB_ETHERNET
                        config  USBH_ECM_ETHERNET_BRIDGE_FOR_CA32
                            bool "USB Ethernet Bridge"
                            select LWIP_USB_ETHERNET
                            select LWIP_USB_ETHERNET_BRIDGE
                    endchoice
                endif
            config USBH_MSC_FOR_CA32
                bool "MSC"
            config USBH_UVC_FOR_CA32
                bool "UVC"
            config USBH_VENDOR_FOR_CA32
                bool "Vendor"
        endif

        if USB_DRD_EN_FOR_CA32
            comment 'USB Device Class'
            config USBD_CDC_ACM_FOR_CA32
                bool "CDC ACM"
            config USBD_HID_FOR_CA32
                bool "HID"
            config USBD_MSC_FOR_CA32
                bool "MSC"
            config USBD_UAC_FOR_CA32
                bool "UAC (Experimental)"
            config USBD_VENDOR_FOR_CA32
                bool "Vendor"

            comment 'USB Host Class'
            config USBH_CDC_ACM_FOR_CA32
                bool "CDC ACM"
            config USBH_MSC_FOR_CA32
                bool "MSC"
            config USBH_UVC_FOR_CA32
                bool "UVC"
            config USBH_VENDOR_FOR_CA32
                bool "Vendor"
        endif
    endif
endmenu

comment "--- --------------Application Config Start------------"

mainmenu "Next Configuration"

menu "802154 Config" #DONE
    config 802154_EN_FOR_CA32
        bool "Enable 802154"
        default n
    if 802154_EN_FOR_CA32
        comment "Must Enable MBEDTLS Before Enable THREAD"
        config 802154_THREAD_EN_FOR_CA32
            depends on !802154_PLATFORM_TEST_EN_FOR_CA32
            bool "Enable THREAD"
            default n
        if 802154_THREAD_EN_FOR_CA32
            choice
                depends on 802154_THREAD_EN_FOR_CA32
                prompt "THREAD ROLE"
                config 802154_THREAD_BORDER_ROUTER_EN_FOR_CA32
                    bool "BORDER_ROUTER"
                config 802154_THREAD_FTD_EN_FOR_CA32
                    bool "FTD"
                config 802154_THREAD_MTD_EN_FOR_CA32
                    bool "MTD"
                config 802154_THREAD_RCP_EN_FOR_CA32
                    bool "RCP"
            endchoice
            config 802154_THREAD_RADIO_RCP_EN_FOR_CA32
                depends on !802154_THREAD_RCP_EN_FOR_CA32
                bool "RCP AS RADIO"
                default y
            config 802154_THREAD_CONCURRENT_EN_FOR_CA32
                depends on 802154_THREAD_RADIO_RCP_EN_FOR_CA32
                bool "Enable Radio Concurrent"
                default n
                if 802154_THREAD_CONCURRENT_EN_FOR_CA32
                    choice
                        depends on 802154_THREAD_EN_FOR_CA32
                        prompt "RCP Vendor"
                        config 802154_THREAD_RCP_RTL8771H_FOR_CA32
                            bool "RTL8771H"
                        config 802154_THREAD_RCP_SILICON_FOR_CA32
                            bool "SILICON"
                    endchoice
                endif
            config 802154_THREAD_LLF_TEST_EN_FOR_CA32
                bool "Low Layer Function Test"
                default n
            config 802154_THREAD_COAP_TEST_EN_FOR_CA32
                bool "Rtk OT CoAP Test"
                default n
        endif
        config 802154_PLATFORM_TEST_EN_FOR_CA32
            bool "Enable 802154 Platform Test"
            default n
    endif
endmenu

menu "Audio Config"
    config AUDIO_FWK_FOR_CA32
        bool "Enable Audio Framework"

    if AUDIO_FWK_FOR_CA32
        choice
            prompt "Select Audio Interfaces"
            config AUDIO_MIXER_FOR_CA32
                bool "Mixer"
            config AUDIO_PASSTHROUGH_FOR_CA32
                bool "PassThrough"
        endchoice
    endif

    config MEDIA_PLAYER_FOR_CA32
        bool "Enable Media Framework"

    if MEDIA_PLAYER_FOR_CA32
        menu "Demux"
            comment "    Demux"
            config MEDIA_DEMUX_WAV_FOR_CA32
                bool "Demux WAV"
            config MEDIA_DEMUX_MP3_FOR_CA32
                bool "Demux MP3"
            config MEDIA_DEMUX_AAC_FOR_CA32
                bool "Demux AAC"
            config MEDIA_DEMUX_MP4_FOR_CA32
                bool "Demux M4A"
            config MEDIA_DEMUX_FLAC_FOR_CA32
                bool "Demux FLAC"
            config MEDIA_DEMUX_OGG_FOR_CA32
                bool "Demux OGG"
            config MEDIA_DEMUX_AMR_FOR_CA32
                bool "Demux AMR"
        endmenu

        menu "Codec"
            comment "    Codec"
            config MEDIA_CODEC_PCM_FOR_CA32
                bool "Codec PCM"
            config MEDIA_CODEC_MP3_FOR_CA32
                bool "Codec MP3"
            config MEDIA_CODEC_HAAC_FOR_CA32
                bool "Codec AAC"
            config MEDIA_CODEC_VORBIS_FOR_CA32
                bool "Codec VORBIS"
            config MEDIA_CODEC_OPUS_FOR_CA32
                bool "Codec OPUS"
            config MEDIA_CODEC_AMR_FOR_CA32
                bool "Codec AMR"
            config MEDIA_CODEC_G711_FOR_CA32
                bool "Codec G711"
            config MEDIA_CODEC_GSM_FOR_CA32
                bool "Codec GSM"
        endmenu
    endif
    menu "Third Party Lib"
        comment "Third Party Lib"
        config SPEEX_LIB_FOR_CA32
            bool "Speex"
        config OPUS_LIB_FOR_CA32
            bool "OPUS"
    endmenu

    #config MEDIA_LITE_PLAYER_FOR_CA32
    #    bool "Enable Media Lite Framework"
    #
    #if MEDIA_LITE_PLAYER_FOR_CA32
    #    menu "Demux"
    #        comment "    Demux"
    #        config MEDIA_LITE_DEMUX_WAV_FOR_CA32
    #            bool "Demux WAV"
    #        config MEDIA_LITE_DEMUX_MP3_FOR_CA32
    #            bool "Demux MP3"
    #        config MEDIA_LITE_DEMUX_AAC_FOR_CA32
    #            bool "Demux AAC"
    #        config MEDIA_LITE_DEMUX_MP4_FOR_CA32
    #            bool "Demux M4A"
    #    endmenu
    #
    #    menu "Codec"
    #        comment "    Codec"
    #        config MEDIA_LITE_CODEC_PCM_FOR_CA32
    #            bool "Codec PCM"
    #        config MEDIA_LITE_CODEC_MP3_FOR_CA32
    #            bool "Codec MP3"
    #        config MEDIA_LITE_CODEC_HAAC_FOR_CA32
    #            bool "Codec AAC"
    #    endmenu
    #endif
    #
    #config WIFI_AUDIO_FOR_CA32
    #    bool "Enable WIFI AUDIO"
    #
    #if WIFI_AUDIO_FOR_CA32
    #    menu "Codec"
    #        comment "    Codec"
    #        config MEDIA_CODEC_PCM_FOR_CA32
    #            bool "Codec PCM"
    #        config MEDIA_DEC_FLAC_FOR_CA32
    #            bool "Dec FLAC"
    #        config MEDIA_ENC_FLAC_FOR_CA32
    #            bool "Enc FLAC"
    #    endmenu
    #endif

    # Ensure AUDIO_FWK_FOR_CA32 is enabled if any of the media options are enabled
    if MEDIA_PLAYER_FOR_CA32 || MEDIA_LITE_PLAYER_FOR_CA32 || WIFI_AUDIO_FOR_CA32
        config AUDIO_FWK_FOR_CA32
            bool
            default y
    endif

endmenu

menu "AI Config"
    config TFLITE_MICRO_EN_FOR_CA32
        bool "Enable TFLITE MICRO"
        default n

    config AIVOICE_EN_FOR_CA32
        bool "Enable AIVoice"
        default n

    if AIVOICE_EN_FOR_CA32
        choice
            prompt "Select AFE Resource"
            default AFE_RES_2MIC50MM_FOR_CA32

            config AFE_RES_1MIC_FOR_CA32
                bool "afe_res_1mic"

            config AFE_RES_2MIC30MM_FOR_CA32
                bool "afe_res_2mic30mm"

            config AFE_RES_2MIC50MM_FOR_CA32
                bool "afe_res_2mic50mm"

            config AFE_RES_2MIC70MM_FOR_CA32
                bool "afe_res_2mic70mm"
        endchoice
    endif

endmenu

menu "IPC Message Queue Config"
    config IMQ_EN_FOR_CA32
        bool "Enable IPC Message Queue"

    if IMQ_EN_FOR_CA32
        config RPC_EN_FOR_CA32
            bool "Enable RPC"
        config IMQ2_TEST_FOR_CA32
            bool "Enable IPC Message Queue Test"
    endif
endmenu

menu "GUI Config"
    config GUI_EN_FOR_CA32
        bool "Enable GUI"

    if GUI_EN_FOR_CA32
        config LVGL_EN_FOR_CA32
            bool "LVGL"
    endif

    menu "Third Party Lib"
        comment "Third Party Lib"
        config GUI_LIB_PNG_FOR_CA32
            bool "PNG"
        config GUI_LIB_JPG_FOR_CA32
            bool "JPG"
    endmenu
endmenu

menu "Range Config"
    config RANGE_ENABLED
        bool "Range Enable"
endmenu

menu "Dynamic App Load Config"
    config DYNAMIC_APP_LOAD_EN
        bool "Dynamic App Load Enable"
endmenu
