comment "--- --------------CPU config Start------------"

menu "CONFIG CHIP" #DONE
    choice
        prompt "ArmCore"
        config ARM_CORE_CM0_FOR_KM0
            bool "ARM_KM0"
    endchoice

endmenu


comment "--- --------------WIFI FW Config Start------------"

menu "CONFIG WIFI FW"
    config WIFI_FW_EN_FOR_KM0
        bool "Enable Wifi firmware"
        default y

    if WIFI_FW_EN_FOR_KM0
        config WIFI_FW_VERIFY_FOR_KM0
            bool "WIFI FW Test"

        config SOCZB_PTA_VERIFY_FOR_KM0
            bool "SOCZB_PTA_Verify_Mode"
    endif
endmenu
