menu "CONFIG RTK Assert Level"
    choice
        prompt "RTK Assert Level"
        default ASSERTION_COMP
        config ASSERTION_DETAIL
            bool "Assert Detail (print file & line)"
        config ASSERTION_COMP
            bool "Assert Component (print component tag & line)"
        config ASSERTION_DISABLE
            bool "Assert Disable"
    endchoice
endmenu
