menu "CONFIG USB"

    config USB_OTG_EN_MENU
        bool "Enable USB"
        select USB_OTG_EN if CORE_AS_AP

    if USB_OTG_EN_MENU
        choice
            prompt "USB Mode"
            default USB_DEVICE_EN_MENU
            config USB_DEVICE_EN_MENU
                bool "Device"
                select USB_DEVICE_EN if CORE_AS_AP
            config USB_HOST_EN_MENU
                bool "Host"
                depends on !SUPPORT_USB_DEVICE_ONLY
                select USB_HOST_EN if CORE_AS_AP
            config USB_DRD_EN_MENU
                bool "DRD"
                depends on !SUPPORT_USB_DEVICE_ONLY
                select USB_DRD_EN if CORE_AS_AP
        endchoice
    endif

    if USB_DEVICE_EN_MENU || USB_DRD_EN_MENU
        comment "USB Device Class"
        orsource "device/Kconfig"
    endif

    if USB_HOST_EN_MENU || USB_DRD_EN_MENU
        comment "USB Host Class"
        orsource "host/Kconfig"
    endif

    config USB_OTG_EN
        bool
    config USB_DEVICE_EN
        bool
    config USB_HOST_EN
        bool
    config USB_DRD_EN
        bool

    config USBD_CDC_ACM
        bool
    config USBD_COMPOSITE
        bool
    config USBD_COMPOSITE_CDC_ACM_HID
        bool
    config USBD_COMPOSITE_CDC_ACM_MSC
        bool
    config USBD_COMPOSITE_CDC_ACM_UAC
        bool
    config USBD_COMPOSITE_CDC_ACM_UAC1
        bool
    config USBD_COMPOSITE_CDC_ACM_UAC2
        bool
    config USBD_COMPOSITE_HID_UAC
        bool
    config USBD_COMPOSITE_HID_UAC1
        bool
    config USBD_COMPOSITE_HID_UAC2
        bool
    config USBD_HID
        bool
    config USBD_INIC
        bool
    config USBD_MSC
        bool
    config USBD_UAC
        bool
    config USBD_UAC1
        bool
    config USBD_UAC2
        bool
    config USBD_VENDOR
        bool

    config USBH_CDC_ACM
        bool
    config USBH_CDC_ECM
        bool
    config USBH_ECM_ETHERNET
        bool
    config USBH_ECM_ETHERNET_BRIDGE
        bool
    config USBH_MSC
        bool
    config USBH_UVC
        bool
    config USBH_VENDOR
        bool
endmenu