menu "CONFIG AT CMD"
    config SUPPORT_ATCMD
        bool "Enable ATCMD"
        default n
    if SUPPORT_ATCMD
        choice
            prompt "ATCMD Mode"
            config ATCMD_MANUAL_TEST
                bool "Manual Test Mode"
            config ATCMD_HOST_CONTROL
                bool "Host Control Mode"
                select LONGER_CMD
                select USB_OTG_EN_MENU if SUPPORT_USB
                select USB_DEVICE_EN if !USB_HOST_EN_MENU
                select USBD_CDC_ACM if !USB_HOST_EN_MENU
                select USBH_CDC_ACM if USB_HOST_EN_MENU
        endchoice
        config LONGER_CMD
            bool "Enable Longer CMD"
        config ATCMD_NETWORK
            bool "Enable Network"
            default n
        config ATCMD_SOCKET
            bool "Enable Socket"
        config ATCMD_HTTP
            bool "Enable HTTP"
        config ATCMD_MQTT
            bool "Enable MQTT"
        config ATCMD_WEBSOCKET
            bool "Enable WEBSOCKET"
        config ATCMD_OTA
            bool "Enable OTA"
            default n
    endif
endmenu