menu "GUI Config"
    config GUI_EN_MENU
        bool "Enable GUI"
        select GUI_EN if CORE_AS_AP
    config LVGL_EN_MENU
        depends on GUI_EN_MENU
        bool "LVGL"
        select LVGL_EN if CORE_AS_AP
    if LVGL_EN_MENU
        choice
            prompt "LVGL version"
            config LVGL_8.3.0_MENU
                bool "LVGL 8.3.0"
                select LVGL_8_3_0 if CORE_AS_AP
            config LVGL_9.2.2_MENU
                bool "LVGL 9.2.2"
                select LVGL_9_2_2 if CORE_AS_AP
        endchoice
	endif
    menu "Third Party Lib"
        depends on AMEBASMART||AMEBASMARTPLUS           #amebasmart smart+
        config GUI_LIB_PNG_MENU
            bool "PNG"
            select GUI_LIB_PNG if CORE_AS_AP
        config GUI_LIB_JPG_MENU
            bool "JPG"
            select GUI_LIB_JPG if CORE_AS_AP
    endmenu
endmenu




config GUI_EN
    bool
config LVGL_EN
    bool
config LVGL_8_3_0
    bool
config LVGL_9_2_2
    bool

config GUI_LIB_PNG
    bool

config GUI_LIB_JPG
    bool
