# set this to 'y' to debug BT inic without WiFi fullmac
config BT_INIC_DEBUG
    depends on (!FULLMAC_DEV) && (!WHC_FULLMAC_HOST)
    bool
    default n

# set this to 'y' to debug BT inic host without WiFi fullmac
config BT_INIC_HOST_DEBUG
    depends on !FULLMAC_DEV && !WHC_FULLMAC_HOST
    bool
    default n

choice
    depends on (FULLMAC_DEV || BT_INIC_DEBUG || WHC_FULLMAC_HOST || BT_INIC_HOST_DEBUG)
    prompt "HW Interface"
    default BT_INIC_SHARE
    config BT_INIC_SHARE
        depends on (FULLMAC_DEV || WHC_FULLMAC_HOST)
        bool "Share interface with WiFi"
    config BT_INIC_H4
        bool "UART H4"
    config BT_INIC_H5
        bool "UART H5"
    config BT_INIC_NONE
        bool "Internal"
    config BT_INIC_SPI_D
        depends on (BT_INIC_DEBUG || BT_INIC_HOST_DEBUG)
        bool "SPI"
    config BT_INIC_SDIO_D
        depends on (BT_INIC_DEBUG || BT_INIC_HOST_DEBUG)
        bool "SDIO"
    config BT_INIC_USB_D
        depends on AMEBAGREEN2 && (BT_INIC_DEBUG || BT_INIC_HOST_DEBUG)
        bool "USB"
endchoice

config BT_INIC_SPI
    def_bool (BT_INIC_SHARE && WHC_INTF_SPI) || BT_INIC_SPI_D

config BT_INIC_SDIO
    def_bool (BT_INIC_SHARE && WHC_INTF_SDIO) || BT_INIC_SDIO_D

config BT_INIC_USB
    def_bool (BT_INIC_SHARE && WHC_INTF_USB) || BT_INIC_USB_D

config BT_INIC
    def_bool (FULLMAC_DEV && !BT_INIC_NONE) || BT_INIC_DEBUG

config BT_INIC_HOST
    def_bool WHC_FULLMAC_HOST || BT_INIC_HOST_DEBUG