menu "CONFIG SSL"
    config MBEDTLS_ENABLED_MENU
        bool "Enable MbedTLS"
        select MBEDTLS_ENABLED if CORE_AS_AP

    config MBEDTLS_SSL_PROTO_TLS1_3_MENU
        depends on MBEDTLS_ENABLED_MENU
        bool "Enable TLS 1.3"
        select MBEDTLS_SSL_PROTO_TLS1_3 if CORE_AS_AP

    if AMEBAGREEN2||AMEBAL2          #amebagreen2 amebaL2
        config SSL_ROM_TEST_MENU
            bool "SSL ROM Test"
            select SSL_ROM_TEST if CORE_AS_AP

        config USE_MBEDTLS_ROM
            bool
            default y
    endif

    config MBEDTLS_ENABLED
        bool

    config MBEDTLS_SSL_PROTO_TLS1_3
        bool

    config SSL_ROM_TEST
        bool

endmenu
