menu "CONFIG SSL"
    config MBEDTLS_ENABLED_MENU
        bool "Enable MbedTLS"
        select MBEDTLS_ENABLED if WHC_HOST || WHC_NONE || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4 || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4TZ || WHC_DEV_TCPIP_KEEPALIVE_FOR_KR4 || WPA_STD || TRUSTZONE_FOR_KM4

    config MBEDTLS_SSL_PROTO_TLS1_3_MENU
        depends on MBEDTLS_ENABLED_MENU
        bool "Enable TLS 1.3"
        select MBEDTLS_SSL_PROTO_TLS1_3 if WHC_HOST || WHC_NONE || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4 || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4TZ || WHC_DEV_TCPIP_KEEPALIVE_FOR_KR4 || WPA_STD || TRUSTZONE_FOR_KM4

    config MBEDTLS_SSL_IN_CONTENT_LEN_MENU
        depends on MBEDTLS_ENABLED_MENU
        int "Maximum len of incoming fragments"
        default 16384

    config MBEDTLS_SSL_OUT_CONTENT_LEN_MENU
        depends on MBEDTLS_ENABLED_MENU
        int "Maximum len of outgoing fragments."
        default 4096

    config GMSSL_ENABLED
        bool "Enable GmSSL"
        default false

    if AMEBAGREEN2          # only for amebagreen2 km4tz
        config SSL_ROM_TEST_MENU
            bool "SSL ROM Test"
            select SSL_ROM_TEST if WHC_HOST || WHC_NONE

        config USE_MBEDTLS_ROM_ALG # ed25519 will use mbedtls rom
            bool
            default y
    endif

    config MBEDTLS_ENABLED
        bool

    config MBEDTLS_SSL_PROTO_TLS1_3
        bool

    config MBEDTLS_SSL_IN_CONTENT_LEN
        depends on WHC_HOST || WHC_NONE || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4 || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4TZ || WHC_DEV_TCPIP_KEEPALIVE_FOR_KR4 || WPA_STD || TRUSTZONE_FOR_KM4
        int
        default MBEDTLS_SSL_IN_CONTENT_LEN_MENU

    config MBEDTLS_SSL_OUT_CONTENT_LEN
        depends on WHC_HOST || WHC_NONE || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4 || WHC_DEV_TCPIP_KEEPALIVE_FOR_KM4TZ || WHC_DEV_TCPIP_KEEPALIVE_FOR_KR4 || WPA_STD || TRUSTZONE_FOR_KM4
        int
        default MBEDTLS_SSL_OUT_CONTENT_LEN_MENU

    config SSL_ROM_TEST
        bool

endmenu
