comment "----------CPU config----------"

menu "CONFIG CHIP"
    config CPU_HAS_FPU_FOR_KM4
        bool
        default y

    choice
        prompt "ArmCore"
        default ARM_CORE_CM4_FOR_KM4
        config ARM_CORE_CM4_FOR_KM4
            bool "ARM_CM4"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBADPLUS_B_CUT_FOR_KM4
        config AMEBADPLUS_A_CUT_FOR_KM4
            bool "AMEBADPLUS_A_Cut"
        config AMEBADPLUS_B_CUT_FOR_KM4
            bool "AMEBADPLUS_B_Cut"
    endchoice
endmenu


comment "----------Peripheral config----------"

menu "CONFIG USB"
    config USB_DEVICE_EN_FOR_KM4
        bool "Enable USB Device"
        default n
    if USB_DEVICE_EN_FOR_KM4
        config USBD_CDC_ACM_FOR_KM4
            bool "CDC ACM"
        config USBD_COMPOSITE_FOR_KM4
            bool "Composite"
        if USBD_COMPOSITE_FOR_KM4
            choice
                prompt "Select Composite Class"
                default USBD_COMPOSITE_CDC_ACM_HID_FOR_KM4
                config USBD_COMPOSITE_CDC_ACM_HID_FOR_KM4
                    bool "CDC ACM + HID"
            endchoice
        endif

        config USBD_HID_FOR_KM4
            bool "HID"
        config USBD_INIC_FOR_KM4
            bool "INIC"
        config USBD_UAC_FOR_KM4
            bool "UAC(Experimental)"
        config USBD_VENDOR_FOR_KM4
            bool "Vendor"
    endif
endmenu


comment "----------Application Config----------"
menu "802154 Config"
    config 802154_EN_FOR_KM4
        bool "Enable 802154"
        default n
    if 802154_EN_FOR_KM4
        comment "Must Enable MBEDTLS Before Enable THREAD"
        config 802154_THREAD_EN_FOR_KM4
            depends on !802154_PLATFORM_TEST_EN_FOR_KM4
            bool "Enable THREAD"
            default n
        if 802154_THREAD_EN_FOR_KM4
            choice
                depends on 802154_THREAD_EN_FOR_KM4
                prompt "THREAD ROLE"
                config 802154_THREAD_BORDER_ROUTER_EN_FOR_KM4
                    bool "BORDER_ROUTER"
                config 802154_THREAD_FTD_EN_FOR_KM4
                    bool "FTD"
                config 802154_THREAD_MTD_EN_FOR_KM4
                    bool "MTD"
            endchoice
            config 802154_THREAD_CONCURRENT_EN_FOR_KM4
                bool "Enable Radio Concurrent"
                default n
                if 802154_THREAD_CONCURRENT_EN_FOR_KM4
                    choice
                        depends on 802154_THREAD_EN_FOR_KM4
                        prompt "RCP Vendor"
                        config 802154_THREAD_RCP_RTL8771H_FOR_KM4
                            bool "RTL8771H"
                        config 802154_THREAD_RCP_SILICON_FOR_KM4
                            bool "SILICON"
                    endchoice
                endif
            config 802154_THREAD_LLF_TEST_EN_FOR_KM4
                bool "Low Layer Function Test"
                default n
            config 802154_THREAD_COAP_TEST_EN_FOR_KM4
                bool "Rtk OT CoAP Test"
                default n
        endif
        config 802154_PLATFORM_TEST_EN_FOR_KM4
            bool "Enable 802154 Platform Test"
            default n
    endif
endmenu

menu "GUI Config"
    config GUI_EN_FOR_KM4
        bool "Enable GUI"
        default n
    config LVGL_EN_FOR_KM4
        depends on GUI_EN_FOR_KM4
        bool "LVGL"
        default n
endmenu

menu "Audio Config"
    config AUDIO_FWK_FOR_KM4
        bool "Enable Audio Framework"
        default n
    if AUDIO_FWK_FOR_KM4
        choice
            prompt "Select Audio Interfaces"
            default AUDIO_PASSTHROUGH_FOR_KM4 if (WIFI_AUDIO_FOR_KM4||WFA_SRC_FOR_KM4)
            config AUDIO_MIXER_FOR_KM4
                bool "Mixer"
            config AUDIO_PASSTHROUGH_FOR_KM4
                bool "PassThrough"
        endchoice
    endif

    menu "Third Party Lib"
        config SPEEX_LIB_FOR_KM4
            bool "Speex"
            default n
        config OPUS_LIB_FOR_KM4
            bool "OPUS"
            default n
    endmenu

endmenu

menu "AI Config"
    config TFLITE_MICRO_EN_FOR_KM4
        bool "Enable TFLITE MICRO"
        default n
endmenu

menu "IMQ Config"
    config IMQ_EN_FOR_KM4
        bool "Enable IMQ"
        default n
endmenu

menu "Wifi Audio Config"
    config WIFI_AUDIO_FOR_KM4
        bool "Enable WIFI AUDIO"
        default n
    config WFA_SRC_FOR_KM4
        bool "Enable WFA SRC"
        default n
    if WIFI_AUDIO_FOR_KM4||WFA_SRC_FOR_KM4
        config AUDIO_FWK_FOR_KM4
            bool
            default y
        # config AUDIO_PASSTHROUGH_FOR_KM4
        #     bool
        #     default y
        config WFA_FEC_USE_SRAM_FOR_KM4
            bool "Enable FEC USE SRAM"
            default n
    endif

endmenu

