cryptography==3.4.8
ecdsa==0.19.0
pycryptodome==3.21.0
pyDes==2.0.1
pyelftools==0.31
pyserial==3.5
python-mbedtls==2.10.1
sslcrypto==5.3
windows-curses==2.4.0 ; platform_system == "Windows"
littlefs-python==0.13.3
pyfatfs==1.1.0
json5==0.12.0
