comment "----------CPU config----------"

menu "CONFIG CHIP"

    choice
        prompt "ArmCore"
        default ARM_CORE_CM0_FOR_KM0
        config ARM_CORE_CM0_FOR_KM0
            bool "ARM_KM0"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBADPLUS_A_CUT_FOR_KM0
        config AMEBADPLUS_A_CUT_FOR_KM0
            bool "AMEBADPLUS_A_Cut"
    endchoice
endmenu
