comment "--- --------------CPU config Start------------"

menu "CONFIG CHIP" #DONE
    choice
        prompt "ArmCore"
        default ARM_CORE_CM4_FOR_KM4
        config ARM_CORE_CM4_FOR_KM4
            bool "ARM_CM4"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBASMART_B_CUT_FOR_KM4
        config AMEBASMART_B_CUT_FOR_KM4
            bool "AMEBASMART_B_Cut"
    endchoice
endmenu

comment "--- --------------Peripheral config Start------------"

menu "CONFIG USB"
    config USB_OTG_EN_FOR_KM4
        bool "Enable USB"

    if USB_OTG_EN_FOR_KM4
        choice
            prompt "USB Mode"
            default USB_DEVICE_EN_FOR_KM4
            config USB_DEVICE_EN_FOR_KM4
                bool "Device"
            config USB_HOST_EN_FOR_KM4
                bool "Host"
            config USB_DRD_EN_FOR_KM4
                bool "DRD"
        endchoice


        if USB_DEVICE_EN_FOR_KM4
            config USBD_CDC_ACM_FOR_KM4
                bool "CDC ACM"

            config USBD_COMPOSITE_FOR_KM4
                bool "Composite"

            if USBD_COMPOSITE_FOR_KM4
                choice
                    prompt "Select Composite Class"
                    default USBD_COMPOSITE_CDC_ACM_HID_FOR_KM4
                    config USBD_COMPOSITE_CDC_ACM_HID_FOR_KM4
                        bool "CDC ACM + HID"
                    config USBD_COMPOSITE_CDC_ACM_UAC_FOR_KM4
                        bool "CDC ACM + UAC"
                endchoice
            endif

            config USBD_HID_FOR_KM4
                bool "HID"

            config USBD_MSC_FOR_KM4
                bool "MSC"

            config USBD_UAC_FOR_KM4
                bool "UAC(Experimental)"

            config USBD_VENDOR_FOR_KM4
                bool "Vendor"
        endif

        if USB_HOST_EN_FOR_KM4
            config USBH_CDC_ACM_FOR_KM4
                bool "CDC ACM"

            config USBH_CDC_ECM_FOR_KM4
                bool "CDC ECM"
                if USBH_CDC_ECM_FOR_KM4
                    choice
                        prompt "Select USB Ethernet"
                        default USBH_ECM_ETHERNE_FOR_KM4
                        config  USBH_ECM_ETHERNE_FOR_KM4
                            bool "USB Ethernet"
                            select LWIP_USB_ETHERNET
                        config  USBH_ECM_ETHERNET_BRIDGE_FOR_KM4
                            bool "USB Ethernet Bridge"
                            select LWIP_USB_ETHERNET
                            select LWIP_USB_ETHERNET_BRIDGE
                    endchoice
                endif

            config USBH_MSC_FOR_KM4
                bool "MSC"

            config USBH_UVC_FOR_KM4
                bool "UVC"

            config USBH_VENDOR_FOR_KM4
                bool "Vendor"
        endif

        if USB_DRD_EN_FOR_KM4
            comment "USB Device Class"

            config USBD_CDC_ACM_FOR_KM4
                bool "CDC ACM"

            config USBD_HID_FOR_KM4
                bool "HID"

            config USBD_MSC_FOR_KM4
                bool "MSC"

            config USBD_UAC_FOR_KM4
                bool "UAC(Experimental)"

            config USBD_VENDOR_FOR_KM4
                bool "Vendor"

            comment "USB Host Class"

            config USBH_CDC_ACM_FOR_KM4
                bool "CDC ACM"

            config USBH_MSC_FOR_KM4
                bool "MSC"

            config USBH_UVC_FOR_KM4
                bool "UVC"

            config USBH_VENDOR_FOR_KM4
                bool "Vendor"
        endif
    endif
endmenu

comment "--- --------------Application Config Start------------"

menu "Audio Config"
    config AUDIO_FWK_FOR_KM4
        bool "Enable Audio Framework"

    if AUDIO_FWK_FOR_KM4
        choice
            prompt "Select Audio Interfaces"
            default AUDIO_PASSTHROUGH_FOR_KM4
            config AUDIO_MIXER_FOR_KM4
                bool "Mixer"
            config AUDIO_PASSTHROUGH_FOR_KM4
                bool "PassThrough"
        endchoice
    endif

    menu "Third Party Lib"
        comment "Third Party Lib"

        config SPEEX_LIB_FOR_KM4
            bool "Speex"

        config OPUS_LIB_FOR_KM4
            bool "OPUS"
    endmenu
endmenu

menu "IPC Message Queue Config"#DONE
    config IMQ_EN_FOR_KM4
        bool "Enable IPC Message Queue"

    if IMQ_EN_FOR_KM4
        config RPC_EN_FOR_KM4
            bool "Enable RPC"

        config IMQ2_TEST_FOR_KM4
            bool "Enable IPC Message Queue Test"

        config IPC_MSG_MASTER_FOR_KM4
            bool
            default y
    endif
endmenu
