comment "--- --------------CPU config Start------------"

menu "CONFIG CHIP"
    config CPU_HAS_FPU_FOR_KM4
        bool
        default y

    choice
        prompt "ArmCore"
        default ARM_CORE_CM4_FOR_KM4
        config ARM_CORE_CM4_FOR_KM4
            bool "ARM_CM4"
    endchoice

    choice
        prompt "Chip Version"
        default AMEBASMART_B_CUT_FOR_KM4
        config AMEBASMART_B_CUT_FOR_KM4
            bool "AMEBASMART_B_Cut"
    endchoice
endmenu
