config USBH_CDC_ACM_MENU
    bool "CDC ACM"
    select USBH_CDC_ACM if WHC_HOST || WHC_NONE

config USBH_CDC_ECM_MENU
    bool "CDC ECM"
    depends on SUPPORT_USBH_ECM || SUPPORT_USBH_ECM_BRIDGE
    select USBH_CDC_ECM if WHC_HOST || WHC_NONE

    if USBH_CDC_ECM_MENU
        choice
            prompt "Select USB Ethernet"
            default USBH_ECM_ETHERNET_MENU
            config  USBH_ECM_ETHERNET_MENU
                bool "USB Ethernet"
                depends on SUPPORT_USBH_ECM
                select LWIP_USB_ETHERNET if WHC_HOST || WHC_NONE
                select USBH_ECM_ETHERNET if WHC_HOST || WHC_NONE
            config  USBH_ECM_ETHERNET_BRIDGE_MENU
                bool "USB Ethernet Bridge"
                depends on SUPPORT_USBH_ECM_BRIDGE
                select LWIP_USB_ETHERNET if WHC_HOST || WHC_NONE
                select LWIP_USB_ETHERNET_BRIDGE if WHC_HOST || WHC_NONE
                select USBH_ECM_ETHERNET_BRIDGE if WHC_HOST || WHC_NONE
        endchoice
    endif

config USBH_COMPOSITE_MENU
    bool "Composite"
    select USBH_COMPOSITE if WHC_HOST || WHC_NONE
    if USBH_COMPOSITE_MENU
        choice
            prompt "Select Composite Class"
            config USBH_COMPOSITE_HID_UAC_MENU
                bool "HID + UAC"
                depends on SUPPORT_USBH_UAC
                select USB_UAC if WHC_HOST || WHC_NONE
                select USBH_COMPOSITE_HID_UAC if WHC_HOST || WHC_NONE
                choice
                    prompt "Select UAC Version"
                    depends on USBH_COMPOSITE_HID_UAC_MENU
                    config USBH_COMPOSITE_HID_UAC1_MENU
                        bool "UAC 1.0"
                        select USBH_COMPOSITE_HID_UAC1 if WHC_HOST || WHC_NONE
                endchoice
        endchoice
    endif

config USBH_MSC_MENU
    bool "MSC"
    select USBH_MSC if WHC_HOST || WHC_NONE
    select VFS_FATFS_INCLUDED if WHC_HOST || WHC_NONE

config USBH_UAC_MENU
    bool "UAC"
    select USB_UAC  if WHC_HOST || WHC_NONE
    select USBH_UAC  if WHC_HOST || WHC_NONE

config USBH_UVC_MENU
    bool "UVC"
    select USBH_UVC if WHC_HOST || WHC_NONE

config USBH_VENDOR_MENU
    bool "VENDOR"
    select USBH_VENDOR if WHC_HOST || WHC_NONE
