name: Unified Ameba RTOS Build System

on:
  pull_request:
    branches: [ master ]

jobs:
  multi-platform-builds: 
    uses: ./.github/workflows/ameba_cross_build_template.yml
    strategy:
      matrix:
        ic: [amebalite, amebasmart, amebadplus, amebagreen2]
        soc: [RTL8726E, RTL8730E, RTL8721Dx, RTL8721F]
        build_stage_suffix: [B0, B1, B2, B3, B4, B5]
    with:
      ic_name: ${{ matrix.ic }}
      soc_name: ${{ matrix.soc }}
      build_stage_name: ${{ matrix.build_stage_suffix }}
    secrets: inherit

  # post-build:
  #   needs: multi-platform-builds
  #   runs-on: ubuntu-latest
  #   if: always()
  #   steps:
  #     - name: Build Summary
  #       uses: actions/github-script@v6
  #       with:
  #         script: |
  #           const results = ${{ toJSON(needs) }};
  #           let msg = '## Build Results\n';
  #           for (const job in results) {
  #             msg += `### ${job}\n`;
  #             msg += `Result: ${results[job].result}\n`;
  #           }
  #           github.rest.issues.createComment({
  #             issue_number: context.issue.number,
  #             body: msg
  #           });
